<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.slq.mapper.GatherMapper">
 <insert id="addgather">
  insert into s_gather values(null,#{gatherId},#{storer},#{reasonexact},
  #{amountSum},#{costPriceSum},#{amountSum},#{remark},
  #{register},registerTime=now(),null,null,DEFAULT,null,null,DEFAULT)
 </insert>
 
 <insert id="addgatherdetails">
 insert into s_gather_details(id,parentId,productId,productName,amount,productUnit,REAL_COST_PRICE,subtotal,sid,payTag) values
 <foreach collection="gatherDetails" item="gatherDetail" separator=",">
  (null,#{id},#{gatherDetail.productId},#{gatherDetail.productName},#{amount},
  #{productUnit},#{realCostPrice},#{subtotal},#{sid},DEFAULT)
 </foreach>
 </insert>
 
 <update id="updatestocknum">
  update stock set amount=(amount+#{amount}) where id=#{id}
 </update>
 
 <select id="gatherReview" resultType="Gather">
 select g.gatherId,p.product_id,p.product_name,u.useName,g.registerTime
 from s_gather g,product p,product_use u,safetystock s 
 where g.id=s.id and s.id=p.id and p.use_type=u.id and s.checktag='审核通过' and g.checkTag='等待审核'
 </select>
 
 <select id="gatherScheduling" resultType="Gather">
 select g.gatherId,g.stockid,g.reasonexact,g.registerTime,SUM(d.amount),SUM(d.moneys)
 from s_gather g,stockstoragetable r,stockstoragedetails d 
 where g.stockid=r.stockstorageno and  r.stockstorageno=d.storagedetailno and r.estate=1;
 </select>
 
 <select id="getSchedulingid" resultType="Gather">
 select g.gatherId,g.reasonexact,g.amountSum,g.costPriceSum,d.id,d.materielid,
 d.materielname,d.amount,d.moneys
 from s_gather g,stockstoragetable r,stockstoragedetails d
 where g.stockid=r.stockstorageno and  r.stockstorageno=d.storagedetailno and stockid=#{stockid}
 </select>
 
 <select id="getByidGather" resultType="Gather">
 select g.gatherId,g.amountSum,g.costPriceSum,d.materielid,d.materielname,d.id,d.unitprice,
 d.amount,d.moneys,s.storeName,s.maxamount,s.storeAddress 
 from s_gather g,stockstoragetable r,stockstoragedetails d,storehouse s
 where g.stockid=r.stockstorageno and  r.stockstorageno=d.storagedetailno and r.depotid=s.sid and d.id=#{id}
 </select>
</mapper>