<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.slq.mapper.production.ProductionProcessMaterialMapper">
	<!-- 
	ppm.`id`,ppm.`parent_id`,ppm.`process_number`,
		ppm.`product_id`,ppm.`product_name`,ppm.`cost_price`,
		ppm.`amount`,ppm.`renew_amount`,(ppm.`real_amount`-ppmc.use_amount) as real_amount,
		ppm.`subtotal`,ppm.`real_subtotal`
	 -->
	<select id="getProductionProcessMaterialAndUseAmount"
		resultType="ProductionProcessMaterial">
		select ppm.* ,
		ppmc.use_amount as 'productionProcessMaterialCourse.use_amount',
		ppmc.id as 'productionProcessMaterialCourse.id',
		ppmc.cost_price as 'productionProcessMaterialCourse.cost_price' from
		production_process_material ppm
		inner join
		production_process_material_course ppmc
		on
		ppm.product_id=ppmc.product_id
		where
		ppm.parent_id=#{production_process_id}
		and ppmc.parent_id=#{production_process_course_id}
	</select>
	<update id="batchUpdateRealAmount1">
		<foreach collection="list" item="productionProcessMaterial"
			separator=";">
			update production_process_material
			set
			real_amount=real_amount+${productionProcessMaterial.productionProcessMaterialCourse.use_amount},
			real_subtotal=real_subtotal+
			(${productionProcessMaterial.productionProcessMaterialCourse.use_amount}*
			${productionProcessMaterial.productionProcessMaterialCourse.cost_price})
			where
			id=#{productionProcessMaterial.id}
		</foreach>
	</update>
	<update id="batchUpdateRealAmount">
		<foreach collection="list" item="productionProcessMaterial"
			separator=";">
			update production_process_material
			set
			real_amount=real_amount+${productionProcessMaterial.use_amount}
			where
			id=#{productionProcessMaterial.id}
		</foreach>
	</update>
	<insert id="batchInsert">
		INSERT INTO production_process_material
		(`id`,`parent_id`,`process_number`,`product_id`,`product_name`,`cost_price`
		,`amount`,`renew_amount`,`real_amount`,`subtotal`,`real_subtotal`)
		values
		<foreach collection="list" item="productionProcess"
			separator=",">
			<foreach
				collection="productionProcess.productionProcessMaterials"
				item="productionProcessMaterial" separator=",">
				(default,#{productionProcess.id},default,#{productionProcessMaterial.product_id},
				#{productionProcessMaterial.product_name},#{productionProcessMaterial.cost_price},
				#{productionProcessMaterial.amount},default,default,#{productionProcessMaterial.subtotal},default)
			</foreach>
		</foreach>

	</insert>
</mapper>